* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #f7f1f1;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

/* @keyframes strikeitem {
  to {
    width: calc(100% + 10rem);
  }
} */

#assignment {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  height: 90%;
  background: #4dc6ca;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}

#assignment h1 {
  /*text-align:center;*/
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#assignment h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

#assignment p {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #8ddba4;
  padding: 0.5rem;
  color: #1f1f1f;
  border-radius: 25px;
}

.textInput {
  height: 30px;
}

#assignment button {
  border: none;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #fff;
  background-color: #25888b;
}

#assignment button:hover,
#assignment button:active {
  background-color: #64c7db;
  border-color: #31a7ec;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.decoration {
  text-decoration: line-through;
}

#assignment ul {
  margin-top: 2.6rem;
  list-style: none;
}
#assignment .todolist-move {
  transition: transform 1s;
}
#assignment li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 10px;
}

#assignment .actions {
  flex-shrink: 0;
  padding-left: 0.7em;
}
#assignment .label {
  position: relative;
  transition: opacity 0.2s linear;
}
#assignment .done .label {
  opacity: 0.6;
}

.btn-delete {
  width: 31px;
  height: 23px;
  border-radius: 3px;
}

.add-btn {
  width: 90px;
  height: 30px;
  margin-left: 10px;
}

input[type="checkbox"] {
  transform: scale(1.6);
  margin-right: 15px;
}
